# Exploratory Data Analysis (EDA)

## 1. Setup & Data Loading

In [46]:
# Import libraries
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(color_codes=True)

In [47]:
# Load the dataset
df = pd.read_csv('Access_to_Care_Dataset.csv')
df

,TOPIC,SUBTOPIC,SUBTOPIC_ID,TAXONOMY,TAXONOMY_ID,CLASSIFICATION,CLASSIFICATION_ID,GROUP,GROUP_ID,GROUP_ORDER,...,ESTIMATE_TYPE,ESTIMATE_TYPE_ID,TIME_PERIOD,TIME_PERIOD_ID,ESTIMATE,STANDARD_ERROR,ESTIMATE_LCI,ESTIMATE_UCI,FLAG,FOOTNOTE_ID_LIST
0,Angina/angina pectoris,NaN,NaN,Cardiovascular diseases,60,Total,0,Total,1,1,...,"Percent of population, crude",1,2019,NaN,1.7,NaN,1.5,1.9,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA18,SC_NHISA00"
1,Angina/angina pectoris,NaN,NaN,Cardiovascular diseases,60,Total,0,Total,1,1,...,"Percent of population, crude",1,2020,NaN,1.5,NaN,1.3,1.6,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA18,SC_NHISA00"
2,Angina/angina pectoris,NaN,NaN,Cardiovascular diseases,60,Total,0,Total,1,1,...,"Percent of population, crude",1,2021,NaN,1.5,NaN,1.4,1.7,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA18,SC_NHISA00"
3,Angina/angina pectoris,NaN,NaN,Cardiovascular diseases,60,Total,0,Total,1,1,...,"Percent of population, crude",1,2022,NaN,1.6,NaN,1.5,1.8,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA18,SC_NHISA00"
4,Angina/angina pectoris,NaN,NaN,Cardiovascular diseases,60,Total,0,Total,1,1,...,"Percent of population, crude",1,2023,NaN,1.6,NaN,1.4,1.8,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA18,SC_NHISA00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26203,Wellness visit,NaN,NaN,Healthcare system use,170,Socioeconomic Characteristic,3,Poverty level,21,21,...,"Percent of population, crude",1,2020,NaN,78.9,NaN,78.2,79.6,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA11,FN_NHISA58,S..."
26204,Wellness visit,NaN,NaN,Healthcare system use,170,Socioeconomic Characteristic,3,Poverty level,21,21,...,"Percent of population, crude",1,2021,NaN,77.0,NaN,76.2,77.7,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA11,FN_NHISA58,S..."
26205,Wellness visit,NaN,NaN,Healthcare system use,170,Socioeconomic Characteristic,3,Poverty level,21,21,...,"Percent of population, crude",1,2022,NaN,78.8,NaN,78.0,79.5,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA11,FN_NHISA58,S..."
26206,Wellness visit,NaN,NaN,Healthcare system use,170,Socioeconomic Characteristic,3,Poverty level,21,21,...,"Percent of population, crude",1,2023,NaN,80.5,NaN,79.8,81.2,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA11,FN_NHISA58,S..."
26207,Wellness visit,NaN,NaN,Healthcare system use,170,Socioeconomic Characteristic,3,Poverty level,21,21,...,"Percent of population, crude",1,2024,NaN,82.0,NaN,81.3,82.6,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA11,FN_NHISA58,S..."

# 2. Data Inspection

In [48]:
df.head(5)

,TOPIC,SUBTOPIC,SUBTOPIC_ID,TAXONOMY,TAXONOMY_ID,CLASSIFICATION,CLASSIFICATION_ID,GROUP,GROUP_ID,GROUP_ORDER,...,ESTIMATE_TYPE,ESTIMATE_TYPE_ID,TIME_PERIOD,TIME_PERIOD_ID,ESTIMATE,STANDARD_ERROR,ESTIMATE_LCI,ESTIMATE_UCI,FLAG,FOOTNOTE_ID_LIST
0,Angina/angina pectoris,NaN,NaN,Cardiovascular diseases,60,Total,0,Total,1,1,...,"Percent of population, crude",1,2019,NaN,1.7,NaN,1.5,1.9,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA18,SC_NHISA00"
1,Angina/angina pectoris,NaN,NaN,Cardiovascular diseases,60,Total,0,Total,1,1,...,"Percent of population, crude",1,2020,NaN,1.5,NaN,1.3,1.6,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA18,SC_NHISA00"
2,Angina/angina pectoris,NaN,NaN,Cardiovascular diseases,60,Total,0,Total,1,1,...,"Percent of population, crude",1,2021,NaN,1.5,NaN,1.4,1.7,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA18,SC_NHISA00"
3,Angina/angina pectoris,NaN,NaN,Cardiovascular diseases,60,Total,0,Total,1,1,...,"Percent of population, crude",1,2022,NaN,1.6,NaN,1.5,1.8,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA18,SC_NHISA00"
4,Angina/angina pectoris,NaN,NaN,Cardiovascular diseases,60,Total,0,Total,1,1,...,"Percent of population, crude",1,2023,NaN,1.6,NaN,1.4,1.8,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA18,SC_NHISA00"

In [49]:
# Data Types and Missing Values

info_df = pd.DataFrame({
    'Column': df.columns,
    'Type': df.dtypes.values,
    'Non-Null': df.count().values,
    'Null': df.isnull().sum().values,
    'Null %': (df.isnull().sum() / len(df) *100).round(2).values,
    'Unique': [df[col].nunique() for col in df.columns]

})

print(info_df.to_string(index=False))

           Column    Type  Non-Null  Null  Null %  Unique
            TOPIC  object     26208     0    0.00      54
         SUBTOPIC  object      1404 24804   94.64       3
      SUBTOPIC_ID float64      1404 24804   94.64       3
         TAXONOMY  object     26208     0    0.00      19
      TAXONOMY_ID   int64     26208     0    0.00      19
   CLASSIFICATION  object     26208     0    0.00       4
CLASSIFICATION_ID   int64     26208     0    0.00       4
            GROUP  object     26208     0    0.00      21
         GROUP_ID   int64     26208     0    0.00      21
      GROUP_ORDER   int64     26208     0    0.00      21
         SUBGROUP  object     26208     0    0.00      75
      SUBGROUP_ID   int64     26208     0    0.00      78
   SUBGROUP_ORDER   int64     26208     0    0.00      78
    NESTING_LABEL  object      2016 24192   92.31       2
 NESTING_LABEL_ID float64      2016 24192   92.31       2
    ESTIMATE_TYPE  object     26208     0    0.00       1
 ESTIMATE_TYPE_ID   int64     26208     0    0.00       1
      TIME_PERIOD   int64     26208     0    0.00       6
   TIME_PERIOD_ID float64         0 26208  100.00       0
         ESTIMATE float64     23839  2369    9.04     981
   STANDARD_ERROR float64         0 26208  100.00       0
     ESTIMATE_LCI float64     23633  2575    9.83     974
     ESTIMATE_UCI float64     23633  2575    9.83     988
             FLAG  object      2599 23609   90.08       7
 FOOTNOTE_ID_LIST  object     26208     0    0.00    1209

# 3. Data Cleaning

In [50]:
# Normalize column names
df.columns = [c.strip().lower() for c in df.columns]

In [51]:
# Create year from time_period
def extract_year(x):
    if pd.isna(x):
        return np.nan
    m = re.search(r"(20\d{2})", str(x))
    return int(m.group(1)) if m else np.nan

df["year"] = df["time_period"].apply(extract_year)

In [52]:
# Convert estimate to numeric
df["estimate"] = pd.to_numeric(df["estimate"], errors="coerce")

In [53]:
import numpy as np
# Drop rows missing essential column information ('year', 'estimate')
before_count = len(df)
df_clean = df.dropna(subset=['year', 'estimate']).copy()
removed = before_count - len(df_clean)
print(f"Removed {removed:,} rows with missing Estimate values ({removed/before_count*100:.1f}%)")

Removed 2,369 rows with missing Estimate values (9.0%)

In [54]:
# Data type optimization
df['time_period'] = df['time_period'].astype('int16')
df['estimate'] = df['estimate'].astype('float32')
df['estimate_lci'] = df['estimate_lci'].astype('float32')
df['estimate_uci'] = df['estimate_uci'].astype('float32')

In [55]:
# Check for duplicates
duplicates = df.duplicated().sum()
if duplicates > 0:
  print(f"Found {duplicates} duplicate rows")
  df = df.drop_duplicates()
  print(f"Removed duplicates")
else:
  print("No duplicate rows found")

No duplicate rows found

In [56]:
# Focusing on access topics only

access_topics = [
    'Delayed getting medical care due to cost among adults',
    'Did not get needed medical care due to cost',
    'Did not get needed mental health care due to cost',
    'Did not take medication as prescribed to save money'
]

df = df[df['topic'].isin(access_topics)].copy()

In [57]:
df_clean

,topic,subtopic,subtopic_id,taxonomy,taxonomy_id,classification,classification_id,group,group_id,group_order,...,estimate_type_id,time_period,time_period_id,estimate,standard_error,estimate_lci,estimate_uci,flag,footnote_id_list,year
0,Angina/angina pectoris,NaN,NaN,Cardiovascular diseases,60,Total,0,Total,1,1,...,1,2019,NaN,1.7,NaN,1.5,1.9,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA18,SC_NHISA00",2019
1,Angina/angina pectoris,NaN,NaN,Cardiovascular diseases,60,Total,0,Total,1,1,...,1,2020,NaN,1.5,NaN,1.3,1.6,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA18,SC_NHISA00",2020
2,Angina/angina pectoris,NaN,NaN,Cardiovascular diseases,60,Total,0,Total,1,1,...,1,2021,NaN,1.5,NaN,1.4,1.7,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA18,SC_NHISA00",2021
3,Angina/angina pectoris,NaN,NaN,Cardiovascular diseases,60,Total,0,Total,1,1,...,1,2022,NaN,1.6,NaN,1.5,1.8,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA18,SC_NHISA00",2022
4,Angina/angina pectoris,NaN,NaN,Cardiovascular diseases,60,Total,0,Total,1,1,...,1,2023,NaN,1.6,NaN,1.4,1.8,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA18,SC_NHISA00",2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26203,Wellness visit,NaN,NaN,Healthcare system use,170,Socioeconomic Characteristic,3,Poverty level,21,21,...,1,2020,NaN,78.9,NaN,78.2,79.6,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA11,FN_NHISA58,S...",2020
26204,Wellness visit,NaN,NaN,Healthcare system use,170,Socioeconomic Characteristic,3,Poverty level,21,21,...,1,2021,NaN,77.0,NaN,76.2,77.7,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA11,FN_NHISA58,S...",2021
26205,Wellness visit,NaN,NaN,Healthcare system use,170,Socioeconomic Characteristic,3,Poverty level,21,21,...,1,2022,NaN,78.8,NaN,78.0,79.5,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA11,FN_NHISA58,S...",2022
26206,Wellness visit,NaN,NaN,Healthcare system use,170,Socioeconomic Characteristic,3,Poverty level,21,21,...,1,2023,NaN,80.5,NaN,79.8,81.2,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA11,FN_NHISA58,S...",2023
26207,Wellness visit,NaN,NaN,Healthcare system use,170,Socioeconomic Characteristic,3,Poverty level,21,21,...,1,2024,NaN,82.0,NaN,81.3,82.6,NaN,"NT_NHISA00,NT_NHISA999,FN_NHISA11,FN_NHISA58,S...",2024

# 4. Visualizing Disparities by Group

In [58]:
# Setting column names

COL_YEAR = 'year'
COL_GROUP = 'group'           # e.g., "Insurance Status", "Race/Ethnicity", etc.
COL_SUBGROUP = 'subgroup'     # e.g., "Uninsured", "Private", "Medicaid", etc.
COL_TOPIC = 'topic'           # barrier / measure name (e.g., delayed care due to cost)
COL_ESTIMATE = 'estimate'   # numeric value (percent)

In [59]:
# Normalizing column data types

df[COL_YEAR] = pd.to_numeric(df[COL_YEAR], errors='coerce').astype('Int64')
df[COL_ESTIMATE] = pd.to_numeric(df[COL_ESTIMATE], errors='coerce')

In [60]:
# Drop rows missing the essentials
df = df.dropna(subset=[COL_YEAR, COL_GROUP, COL_SUBGROUP, COL_TOPIC, COL_ESTIMATE]).copy()

In [61]:
# Visualization #1 CSV (Tableau long format)
disparities_trends = (
    df.groupby([COL_YEAR, COL_GROUP, COL_SUBGROUP, COL_TOPIC], as_index=False)
      .agg(estimate=(COL_ESTIMATE, "mean"))  # mean is safe if duplicates exist
      .sort_values([COL_GROUP, COL_TOPIC, COL_SUBGROUP, COL_YEAR])
)

disparities_trends.to_csv("disparities_trends.csv", index=False)

print("Saved disparities_trends.csv:", disparities_trends.shape)
display(disparities_trends.head())

Saved disparities_trends.csv: (1807, 5)

,year,group,subgroup,topic,estimate
0,2019,Age groups with 65 years and older,18-34 years,Delayed getting medical care due to cost among...,10.5
303,2020,Age groups with 65 years and older,18-34 years,Delayed getting medical care due to cost among...,9.1
601,2021,Age groups with 65 years and older,18-34 years,Delayed getting medical care due to cost among...,8.7
906,2022,Age groups with 65 years and older,18-34 years,Delayed getting medical care due to cost among...,8.3
1200,2023,Age groups with 65 years and older,18-34 years,Delayed getting medical care due to cost among...,8.7

- Which subgroups experience the highest rates of delayed or unmet care?

In [62]:
summary = (base_trends
           .groupby(["topic","group","subgroup"], dropna=False)
           .agg(avg_rate=("estimate","mean"),
                max_rate=("estimate","max"),
                volatility=("estimate","std"),
                years_observed=("year","nunique"))
           .reset_index())

# add 2019 -> 2023 change
pivot = base_trends.pivot_table(index=["topic","group","subgroup"], columns="year", values="estimate", aggfunc="mean").reset_index()
if 2019 in pivot.columns and 2023 in pivot.columns:
    pivot["chg_2019_2023"] = pivot[2023] - pivot[2019]
    summary = summary.merge(pivot[["topic","group","subgroup","chg_2019_2023"]], on=["topic","group","subgroup"], how="left")

summary.to_csv("subgroup_summary.csv", index=False)
summary.sort_values("avg_rate", ascending=False).head(15)

,topic,group,subgroup,avg_rate,max_rate,volatility,years_observed,chg_2019_2023
3767,Uninsured at time of interview among adults,Health insurance coverage: Younger than 65 years,Uninsured,100.000000,100.0,0.000000,5,0.0
2384,Functioning difficulties status (composite) am...,Disability status,With disability,100.000000,100.0,0.000000,5,0.0
3836,Uninsured for at least part of the past year a...,Health insurance coverage: Younger than 65 years,Uninsured,100.000000,100.0,0.000000,5,0.0
2009,Disability status (composite) among adults,Disability status,With disability,100.000000,100.0,0.000000,5,0.0
3160,Public health insurance coverage at time of in...,Health insurance coverage: Younger than 65 years,Other government coverage,100.000000,100.0,0.000000,5,0.0
3016,Private health insurance coverage at time of i...,Health insurance coverage: Younger than 65 years,Private,100.000000,100.0,0.000000,5,0.0
2396,Functioning difficulties status (composite) am...,Functioning difficulties status,With functioning difficulties,100.000000,100.0,0.000000,5,0.0
3159,Public health insurance coverage at time of in...,Health insurance coverage: Younger than 65 years,Medicaid or other state programs,100.000000,100.0,0.000000,5,0.0
2480,Has a usual place of care among adults,Health insurance coverage: 65 years and older,Private,97.160000,97.8,0.507937,5,-1.3
849,Blood pressure check,Age groups with 75 years and older,75 years and older,97.133333,98.0,1.026320,3,-0.6
2479,Has a usual place of care among adults,Health insurance coverage: 65 years and older,Other government coverage,97.120000,98.1,0.846759,5,1.8
2476,Has a usual place of care among adults,Health insurance coverage: 65 years and older,Medicare Advantage,97.100000,97.8,0.474342,5,-0.7
2461,Has a usual place of care among adults,Age groups with 75 years and older,75 years and older,96.820000,97.5,0.438178,5,-0.2
2084,Doctor visit among adults,Age groups with 75 years and older,75 years and older,96.660000,97.6,0.817313,5,-0.5
867,Blood pressure check,Health insurance coverage: 65 years and older,Other government coverage,96.600000,96.9,0.300000,3,-0.3